build/*
app/build/*
dist/*
app/dist/*
archive/*
app/archive/*
.gradle/*
testing/*
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
nbbuild/*
nbdist/*
nbproject/*
.nb-gradle/*
Lethality_Examples*
*env.bat*